* {
    margin: 0;
    border: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
}

@font-face {
    font-family: "caviar";
    src: url(../fonts/CaviarDreams.ttf)format("truetype");
}


/*HEADER*/
#pagehead {
    width: 100%;
    margin: auto;
    padding-top: 5px;
    font-family: Caviar;
    background-color: #3d7f89;
    text-align: center;
}

#pagehead h1 {
    color: #fff;
}

/*NAVIGATION*/
nav {
    padding: 10px 20px 10px;
    line-height: 2em;
}

nav a {
    margin-right: 1px;
    padding: 10px 20px 10px;
    text-decoration: none;
    text-shadow: 1px 1px 0px rgba(0,0,0,.2);
    text-transform: uppercase;
    color: #fff;
}

nav a:hover, nav #current {
    background-color: #5ca0b4;
    text-decoration: none;
}

#topbutton {
    position: fixed;
    top: 95%;
    left: 95%;
}

/*MAIN SECTIONS*/
main {
    width: 90%;
    margin: auto;
}

#experience, #skills, #education, #testimonials {
    width: 70%;
    margin: 10% auto;
}

h1 {
    color: #3d7f89;
    font-size: 1.5em;
    font-family: Caviar;
}

h2, .subhead1 {
    font-size: 1.3em;
    margin-left: 5%;
    margin-top: 2%;
    font-weight: normal;
}

h3 {
    font-weight: normal;
    margin-left: 10%;
}

p {
    margin-left: 15%;
}

.info {
    font-style: italic;
}

/*ME SECTION*/
#me {
    padding-top: 10%;
    text-align: center;
}

#me img {
    width: 25%;
}

/*EXPERIENCE SECTION*/


/*SKILLS SECTION*/

#btns {
    width: 100%;
    text-align: center;
}

.btn {
    padding: 10px;
    background-color: #CCC;
    text-decoration: none;
    font-size: medium;
}

.btn:focus {
    outline: none;
    background-color: #C0D9D9;
}

#skills_tags {
    width: 90%;
    margin: auto;
    text-align: center;
}

#skills_tags .mix{
    display: none;
}

#skills_labels {
    margin-top: 20px;
}

span {
    padding: 10px;
    margin-top: 5px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    color: #FFF;
}

.web {
    background-color: #3d7f89;
}

.design {
    background-color: #5ca0b4;
}

.editing {
    background-color: #8fd3e7;
}

.misc_skills {
    background-color: #57d1a3;
}

/*FOOTER*/

footer {
    background-color: #3d7f89;
    color: #fff;
    padding: 2% 0 1%;
    text-align: center;
    font-family: Caviar;
    line-height: 2em;
}
